:root {
    font-size: 0.625;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    height: 300vh;
}

.cabecalho {
   width: auto; 
   height: 464px;
   background: url(imagens/capa.png);    
   background-size: contain;
   background-repeat: no-repeat;  
   /* background-size: auto; */
   /* border: solid 1px red; */
   /* height: auto; */
   display: flex; 
   /* position: relative; */
}

.navCabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* border: solid 1px red; */
    margin-top: 400px;
    margin-left: auto;
    /* width: auto; */
    margin-right: 1rem;
    gap: 0.2rem;
    position: sticky;
    top: 1rem;
    right: 1rem;
    left: 0;
    z-index: 2;
    /* position: fixed; */
    /* width: 100%; */
}

.navCabecalho a {
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0.35);
    border: solid 1px rgb(109, 109, 109);
    padding: 0.5rem 2rem;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.navCabecalho a:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
} 

.main-home {   
    display: flex;    
    align-items: center;
    border: solid 1px red;
    justify-content: space-between;
    /* flex: 1 0 0; */
}

.main-home-presentation {    
    border: solid 1px red;
    width: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    line-height: 1.5rem;
}

#video-presentation {
    width: 50rem;
    height: 20rem;
    
} 

.main-home-p {
    line-height: 2rem;
    margin-top: 1.5rem;
}

.container_videos {
    display: flex;
    width: 40%;
}

#img-presentation {
    width: 25rem;
    height: 20rem;
}


